.title{
    font-size: 2em;
    color: #74797c;
    margin: 0.3em;
    padding-top: 3em;
}

.account_preadverts_wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.account_reviews_wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.button{
    display: inline-block;
    padding: 0.3em 0.5em;
    margin: 0 0.3em;
    border-radius: 4px;
    background-color: #81aaa7;
    font-size: 1.27em;
    cursor: pointer;
}