.sub_picture{
    display: inline-block;
    height: 100%;
    width: auto;
    margin: 0 1% 3% 3% ;
    cursor: pointer;
}
.main_picture{
    display: block;
    max-width: 96%;
    max-height: 96%;
}
.sub_picture_wrapper{
    /*border: 1px solid black;*/
    height: 17%;
    margin: 3% 0 0 0;
    padding: 0;
    display: flex;
    overflow-x:scroll;
    overflow-y: hidden;
}

.advert_block{
    border: 1px solid black;
    /*margin: auto;*/
    margin: 10%;
    height: 30em;
    width: 80%;
    position: relative;
}

.advert_block_pictures{
    border-right: 1px solid black;
    height: 100%;
    width: 70%;
    display: inline-block;
    position: absolute;
    top: 0;
}

.main_picture_wrapper{
    height: 80%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advert_block_information{
    height: 100%;
    width: 20%;
    display: inline-block;
}