
.wrapper_burger{
    width: 50px;
    position: fixed;
    text-align: center;
    height: 50px;
    top: 2em;
    right: 10px;
    z-index: 1000;
    display: none;
}

#check-menu{
    display: none;
}

.wrapper_burger label{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    line-height: 40px;
}

.burger-line{
    position: absolute;
    top: 8px;
    right: 10px;
    width: 35px;
    height: 2px;
    background-color: black;
    transition: .5s all;
}

.second, .third{
    top: 18px;
}

.fourth{
    top: 28px;
}

.burger-menu{
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: .5s all;
}



#check-menu:checked ~ .main-menu{
    max-height: 500px;
    font-size: 16px;
}

#check-menu:checked ~ .first{
    display: none;
}

#check-menu:checked ~ .second{
    transform: rotate(225deg); /*translateX(17px);*/
    transition-duration: 1.5s;
}

#check-menu:checked ~ .third{
    transform: rotate(-225deg); /*translateX(-17px);*/
    transition-duration: 1.5s;
}

#check-menu:checked ~ .fourth{
    display: none;
}

@media screen and (max-width: 797px){
    .wrapper_burger{
        display: inline;
    }
}

