.gallery_block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap
}
.custom_image_wrapper{
    padding: 1.3em;
    border: 1px solid black;
    margin: 1em;
}
.custom_image{
    display: inline-block;
    width: 300px;
    height: 300px;
    background-size: cover;
}
.title{
    padding: 2em 0 0.5em 0.2em;
    font-size: 4em;
    color: #74797c;
}