
.head{
    height: 5em;
    width: 100%;
    display: block;
    z-index: 100000;
    border-bottom: 1px solid black;
    position: fixed;
    background-color: rgba(183, 183, 183, 0.65);
}
#navigation{
    display: inline-block;
    margin-bottom: -6px;
}
.menu{
    padding: 0;
    list-style: none;
}

.menu_li{
    /*display: inline-block;*/
    float: left;
    padding: 6px 20px;
    border-right: 1px solid black;
    position: relative;
}

.menu_li:last-child{
    border-right: unset;
}

.menu .menu_li a{
    font-size: 1.5em;
    text-decoration: none;
    color: black;
}

.menu .menu_li a:hover{
    text-decoration: underline;
    color: #673f0f;
}

.sub_menu{
    list-style: none;
    display: none;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    position: absolute;
    top: 39px;
    left: -39px;
    width: 7em;
    z-index: 10000;
}
.sub_menu_li{
    background-color: rgba(183, 183, 183, 0.75);

}

.menu .menu_li:hover > .sub_menu{
    display: unset;
}

.logo{
    height: 100%;
    margin: 0;
    width: 14em;
    display: inline-block;
}

.logo img{
    height: 80%;
    margin: 10px 0 0 10px;
    display: inline-block;

}
.logo div{
    display: inline-block;
    font-size: 4em;
}

#user_block{
    display: inline-block;
    font-size: 1.5em;
    text-decoration: none;
}

#user_block a{
    text-decoration: none;
    color: black;
}
#user_block a:hover{
    text-decoration: underline;
    color: #673f0f;
}
.search{
    display: inline-block;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}
.input_search{
    height: 1.2em;
    border-radius: 4px;
    font-size: 1.1em;
}
.button_search{
    display: inline-block;
    padding: 0.3em 0.5em;
    border-radius: 4px;
    background-color: #81aaa7;
    font-size: 1.27em;
    cursor: pointer;
}
.share_link{
    color: #74797c;
    font-size: 2.5em;
    padding: 0.7em 0;
}
.share_link:hover{
    color: #9fa4a7;
    font-size: 2.5em;
}

.share_wrapper{
    width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: auto;
}
.footer{
    margin-top: 5%;
    border-top: 1px solid black;
    background-color: rgba(183, 183, 183, 0.16);
    /*justify-content: center;*/

}
.footer_text{
    color: #9fa4a7;
}
.footer_text_block{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-line-pack: center;

    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media screen and (max-width: 1000px){
    .menu{
        display: none;
    }
    .search{
        display: none;
    }
}