/*nav{*/
    /*padding: 0px;*/
    /*display: inline-block;*/
/*}*/
.head{
    height: 5em;
    z-index: 100000;
    /*overflow: hidden;*/
}
#navigation{
    /*display: flex;*/
    display: inline-block;
}
.menu{
    padding: 0;
}

.sub_menu {
    display: inline-block;
    height: 1.5em;
    padding: 0 20px;
    border-right: 1px solid #0c3474;
    /*border-right: 1px solid black;*/
}
.sub_menu:last-child{
    border-right: unset;
}
.menu .sub_menu a{
    font-size: 1.5em;
    text-decoration: none;
    color: black;
    display: inline-block;
}

.menu .sub_menu a:hover{
    text-decoration: underline  ;
    color: #673f0f;
}

.logo{
    height: 100%;
    margin: 0;
    width: 20%;
    display: inline-block;
}

.logo img{
    height: 80%;
    margin: 10px 0 0 10px;
    display: inline-block;

}
.logo div{
    display: inline-block;
    font-size: 4em;
}
.menu_splitter{
    background-color: black;
    height: 1.5em;
    width: 1px;
    display: inline-block;
}