
.head{
    height: 5em;
    z-index: 100000;
    overflow: hidden;
    border-bottom: 1px solid black;
}
#navigation{
    display: inline-block;
}
.menu{
    padding: 0;
}

.sub_menu {
    display: inline-block;
    padding: 0 20px;
    border-right: 1px solid black;
}

.sub_menu:last-child{
    border-right: unset;
}

.menu .sub_menu a{
    font-size: 1.5em;
    text-decoration: none;
    color: black;
}

.menu .sub_menu a:hover{
    text-decoration: underline;
    color: #673f0f;
}

.logo{
    height: 100%;
    margin: 0;
    width: 14em;
    display: inline-block;
}

.logo img{
    height: 80%;
    margin: 10px 0 0 10px;
    display: inline-block;

}
.logo div{
    display: inline-block;
    font-size: 4em;
}