
#slides{
    position: relative;
    width: 100%;
    padding: 0px;
    margin: 0;
    /*height: auto;*/
    z-index: 100;
    display: flex;
    justify-content: center;
}

.slide{
    position: absolute;
    left: 0px;
    top: 0px;
    /*width: 100%;*/
    opacity: 0;
    min-width: 100%;
    -webkit-transition: opacity 4s;
    -moz-transition: opacity 4s;
    -o-transition: opacity 4s;
    transition: opacity 4s;
}

.showing{
    opacity: 0.4;
}

.slider_text{
    position: absolute;
    z-index: 50;
    color: white;
    font-weight: bold;
    font-size: 4em;
    margin: auto;
    /*text-shadow:*/
            /*-0   -2px 0   #000000,*/
            /*0   -2px 0   #000000,*/
            /*-0    2px 0   #000000,*/
            /*0    2px 0   #000000,*/
            /*-2px -0   0   #000000,*/
            /*2px -0   0   #000000,*/
            /*-2px  0   0   #000000,*/
            /*2px  0   0   #000000,*/
            /*-1px -2px 0   #000000,*/
            /*1px -2px 0   #000000,*/
            /*-1px  2px 0   #000000,*/
            /*1px  2px 0   #000000,*/
            /*-2px -1px 0   #000000,*/
            /*2px -1px 0   #000000,*/
            /*-2px  1px 0   #000000,*/
            /*2px  1px 0   #000000,*/
            /*-2px -2px 0   #000000,*/
            /*2px -2px 0   #000000,*/
            /*-2px  2px 0   #000000,*/
            /*2px  2px 0   #000000,*/
            /*-2px -2px 0   #000000,*/
            /*2px -2px 0   #000000,*/
            /*-2px  2px 0   #000000,*/
            /*2px  2px 0   #000000;*/
}

.slider_background{
    width: 100%;
    background-color: black;

}