/*Make the wrap #slides the same size as photos*/
/*with setting the same aspect ratio(20x9)*/
@media screen and (max-width: 800px){
    #slides{
        display: flex;
    }
}

#slides{
    position: relative;
    width: 100%;
    padding: 0px;
    margin: 0;
    background-color: black;
    z-index: 100;
    display: flex;
}
#slides:before {
    display: block;
    content: "";
}
.slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    opacity: 0;
    /*min-width: 100;*/
    -webkit-transition: opacity 4s;
    -moz-transition: opacity 4s;
    -o-transition: opacity 4s;
    transition: opacity 4s;
}
#slides:before{
    margin-top: 45%;
}
.showing{
    opacity: 0.5;
}

/*Inner div of a slider*/
.slider_inside{
    position: center;
    width: 55em;
    z-index: 100000;
    margin: auto;
}

.slider_menu_wrapp{
    margin: auto;
}

.slider_menu{
    padding: 0 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.slider_menu_item {
    display: inline;
    margin: 20px 30px 20px 10px;
    padding: 0px;
}
.slider_menu .slider_menu_item a{
    font-size: 2.2em;
    color: white;
    padding: 5px;
    display: inline-block;
}

.slider_menu .slider_menu_item a:hover{
    opacity: 0.8;
}

.slider_text{
    z-index: 50;
    color: white;
    font-weight: bold;
    font-size: 6em;
}