.card{
    width: 300px;
    height: 300px;
    min-width: 300px;
    background-color: #cccccc;
    border-radius: 10px;
    overflow: hidden;
    /*display: inline-block;*/
    margin: 1.5em 0.5em;
}
.card_photo{
    background-image: url("../media/AdvPhotos/skandinavskaya-odnokomnatnaya-kvartira-s-malenkoj-kuxnej-1.jpg");
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    height: 65%;
    background-size: cover;
}
.card_photo_cover{
    /*background-image: linear-gradient(rgba(255, 255, 255) 25%, black 15%);*/
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9) 5%, rgba(255, 255, 255, 0) 50%);
    height: 100%;
    display: flex;
    align-items: flex-end;
}
.cost{
    color: white;
    font-size: 1.5em;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
}
.short_description{
    margin: 1em 1em 0.5em 1em;
    height: 3em;
    max-height: 3em;
    overflow: hidden;
    border-bottom: 1px solid black;
}
.card_telephone{
    vertical-align: bottom;
    font-size: 1.2em;
    padding-bottom: 0.5em;
    margin-left: 0.5em;
}

.card_container{
    padding: 0 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
